body { 
  background: url(bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.container-fluid{
  padding-left: 2%;
  padding-right: 2%;
}
.bar {
  width:100%;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: rgb(0, 0, 0,0.3);
}
.displayStyle {
  display: flow-root!important;
}
.boxClock {
  float: right!important;
}
.box {
  float: right!important;
}
.time {    
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 7.0rem;
  color:white;
  padding-right: 25%;
}
.date {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  color:white;    
}
.noPadding {
    padding: 0%;
    margin: 0%;
}  
.weather {
    padding-top: 24%;
}
.actualTemp {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 7.0rem;
    color:white;
}
.actualConditions {
  margin-bottom: 0%;
  font-size: 1.3rem;
  color:white;
}
.weatherImage {
  margin-top:-77px!important;
  margin: 0 auto;
}
.otherConditions{
  margin: 0 auto;
}
.card {
  margin-top:63px!important;
}
.feelingTemp {
  margin-bottom: 0%;
  font-size: 1.3rem;
  color:white;
}
.middle {
  padding-top:2%;
  margin:0 auto!important;
  text-align: center;
}
.right {
  padding-top:2%;
  display: flow-root!important;
}
.bg {
  background: rgba(46, 46, 46,0.6);
  color:white;
}
.nextDaysCondition {
  color: white;
  size:1.1rem;
  padding: .3rem;
}
.card {
  padding: 2%;
  border-radius: 9%;
  float: left;
  margin:1%;
}
ul {
  list-style-type: none;
}
@media (min-width: 576px) and (max-width:850px) {
  .boxClock{
    margin:0 auto;
  }
  .displayStyle{
    display: flex!important;
  }
  .date{
    text-align: center;
  }
  .middle{
    padding-top: 3%;
  }
  .right{
    padding-top: 3%;
  }
}
@media (max-width: 734px) {
  .actualTemp{
    font-size: 5.0rem;
  }
}
@media (max-width: 991px) {
  .actualTemp{
    font-size: 3.0rem;
  }
  .actualConditions {
    font-size: 1.0rem;
  }
}
@media (max-width: 575px) {
  .boxClock{
    margin:0 auto!important;
  }
  .displayStyle{
    display: flex!important;
  }
  .date{
    text-align: center;
  }
  .weather{
    padding-top: 15%;
  }
  .right{
    text-align: center;
    padding-bottom: 8%;
  }
  .actualTemp{
    text-align: center;
  }
  .feelingTemp{
    text-align: center;
    padding-bottom: 8%;
  }
  .middle{
    padding-bottom: 8%;
  }
  .box{
    float: none!important;
    margin: 0 auto!important;
  }
}